Note: If you are having difficulty installing the tensorflow, keras and pytorch libraries, use google colab!

# Library imports

In [6]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

# Keras implementations

In [2]:
from keras.datasets import boston_housing
(train_data, train_targets), (test_data, test_targets) = boston_housing.load_data()

# 404 training samples and 102 test samples, 
# each with 13 numerical feature
print("train_data.shape", train_data.shape)

# normalize the data
mean = train_data.mean(axis=0)

train_data -= mean
std = train_data.std(axis=0)
train_data /= std

test_data -= mean
test_data /= std

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/boston_housing.npz
57344/57026 [==============================] - 0s 0us/step
65536/57026 [==================================] - 0s 0us/step
train_data.shape (404, 13)

In [3]:
# few samples are available, use a very small network 
# with two hidden layers, each with 64 units. 
# In general, the less training data you have, 
# the worse overfitting will be, and using a small network 
# is one way to mitigate overfitting.

from keras import Sequential, layers
def build_model():
    model = models.Sequential()
    model.add(layers.Dense(128, activation='relu',
            input_shape = (train_data.shape[1],)))
    
    model.add(layers.Dense(128, activation='relu'))
    model.add(layers.Dense(64,activation='relu'))
    model.add(layers.Dense(32,activation = 'relu'))

    # network ends with a single unit and no activation. 
    # This is a typical setup for scalar regression 
    model.add(layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    return model

In [6]:
model = build_model()

model.fit(train_data, train_targets, epochs=80, batch_size=16, verbose=0)

test_mse_score, test_mae_score = model.evaluate(test_data, test_targets)

print("test_mae_score", np.round(test_mae_score,3)) 

# mae value around 2.54 -> \$2,540 
# (house price range \$10,000-\$50,000)

4/4 [==============================] - 0s 3ms/step - loss: 18.5859 - mae: 2.7118
test_mae_score 2.712

# PyTorch implementations

In [2]:
#Define the model 
import torch
import torch.nn as nn
import torch.nn.functional as F

## data preprocessing
- data house pricing data is downloaded from another source in this exercise

In [3]:
#From sklearn tutorial.
from sklearn.datasets import load_boston
boston = load_boston()
# print( "Type of boston dataset:", type(boston))

/Applications/Anaconda/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [4]:
#A bunch is you remember is a dictionary based dataset.  Dictionaries are addressed by keys. 
#Let's look at the keys. 
# print(boston.keys())

#DESCR sounds like it could be useful. Let's print the description.
# print(boston['DESCR'])

In [7]:
# Let's change the data to a Panda's Dataframe
boston_df = pd.DataFrame(boston['data'] )
boston_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
#Now add the column names.
boston_df.columns = boston['feature_names']
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [9]:
#Add the target as PRICE. 
boston_df['PRICE']= boston['target']
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [11]:
#This will throw and error at import if haven't upgraded. 
# from sklearn.cross_validation  import train_test_split  
from sklearn.model_selection  import train_test_split
#y is the dependent variable.
y = boston_df['PRICE']
#As we know, iloc is used to slice the array by index number. Here this is the matrix of 
#independent variables.
X = boston_df.iloc[:,0:13]

# Split the data into a training set and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(354, 13) (152, 13) (354,) (152,)

In [12]:
#Change to numpy array. 
X_train=X_train.values
y_train=y_train.values
X_test=X_test.values
y_test=y_test.values

In [13]:
#Define training hyperprameters.
batch_size = 50
num_epochs = 200
learning_rate = 0.01
size_hidden= 100

#Calculate some other hyperparameters based on data.  
batch_no = len(X_train) // batch_size  #batches
cols = X_train.shape[1] #Number of columns in input matrix
n_output=1

In [14]:
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
# Assume that we are on a CUDA machine, then this should print a CUDA device:
print("Executing the model on :",device)

#Create the model object
class Net(torch.nn.Module):
    def __init__(self, n_feature, size_hidden, n_output):
        super(Net, self).__init__()
        self.hidden = torch.nn.Linear(cols, size_hidden)   # hidden layer
        self.predict = torch.nn.Linear(size_hidden, n_output)   # output layer

    def forward(self, x):
        x = F.relu(self.hidden(x))      # activation function for hidden layer
        x = self.predict(x)             # linear output
        return x

model_pytorch = Net(cols, size_hidden, n_output)

Executing the model on : cpu

In [15]:
#Adam is a specific flavor of gradient decent which is typically better
optimizer = torch.optim.Adam(model_pytorch.parameters(), lr=learning_rate)
#optimizer = torch.optim.SGD(net.parameters(), lr=0.2)
criterion = torch.nn.MSELoss(size_average=False)  # this is for regression mean squared loss

/Applications/Anaconda/anaconda3/lib/python3.8/site-packages/torch/nn/_reduction.py:42: UserWarning: size_average and reduce args will be deprecated, please use reduction='sum' instead.
  warnings.warn(warning.format(ret))

In [16]:
from sklearn.utils import shuffle
from torch.autograd import Variable
running_loss = 0.0
for epoch in range(num_epochs):
    
    #Shuffle just mixes up the dataset between epochs
    X_train, y_train = shuffle(X_train, y_train)
    
    # Mini batch learning
    for i in range(batch_no):
        start = i * batch_size
        end = start + batch_size
        inputs = Variable(torch.FloatTensor(X_train[start:end]))
        labels = Variable(torch.FloatTensor(y_train[start:end]))
        
        # zero the parameter gradients
        optimizer.zero_grad()

        # forward + backward + optimize
        outputs = model_pytorch(inputs)
        #print("outputs",outputs)
        #print("outputs",outputs,outputs.shape,"labels",labels, labels.shape)
        
        loss = criterion(outputs, torch.unsqueeze(labels,dim=1))
        loss.backward()
        optimizer.step()

        # print statistics
        running_loss += loss.item()

    # print progress every 20th epoch
    if (epoch+1) % 20 == 0:
        print('Epoch {}'.format(epoch+1), "loss: ",running_loss)
    running_loss = 0.0

Epoch 20 loss:  14125.586181640625
Epoch 40 loss:  12379.87109375
Epoch 60 loss:  8206.666900634766
Epoch 80 loss:  8086.030334472656
Epoch 100 loss:  6482.829254150391
Epoch 120 loss:  6245.298645019531
Epoch 140 loss:  5202.745941162109
Epoch 160 loss:  4906.072326660156
Epoch 180 loss:  5049.463439941406
Epoch 200 loss:  4312.258636474609

In [50]:
#This is a little bit tricky to get the resulting prediction.  
def calculate_r2_mae(x,y=[]):
    """
    This function will return the r2 if passed x and y or return predictions if just passed x. 
    """

    # Evaluate the model with the test set. 
    X = Variable(torch.FloatTensor(x))  
    
    result = model_pytorch(X) #This outputs the value for regression
    result = result.data[:,0].numpy()
  
    if len(y) != 0:
        r2 = r2_score(result, y)
        mae = mean_absolute_error(result, y)
        print("R-Squared: %.3f, MAE: %.2f" %(r2, mae))
        
        #print('Accuracy {:.2f}'.format(num_right / len(y)), "for a total of ", len(y), "records")
        return pd.DataFrame(data= {'actual': y, 'predicted': result})
    else:
        print("returning predictions")
        return result

R-Squared: 0.828, MAE: 2.87

In [49]:
# # Evaluate the model with the test set. 
# X = Variable(torch.FloatTensor(X_train))  

# result = model_pytorch(X) #This outputs the value for regression
# result = result.data[:,0].numpy()

# r2 = r2_score(result, y_train)
# mae = mean_absolute_error(result, y_train)
# print("R-Squared: %.3f, MAE: %.2f" %(r2, mae))

# result_df = pd.DataFrame(data= {'actual': y_train, 'predicted': result})
# result_df.head()

R-Squared: 0.828, MAE: 2.87

   actual  predicted
0    37.9  42.860340
1    20.9  23.790716
2    34.9  38.206417
3    44.0  40.320625
4    22.6  26.191969

In [48]:
# # Evaluate the model with the test set. 
# X = Variable(torch.FloatTensor(X_test))  

# result = model_pytorch(X) #This outputs the value for regression
# result = result.data[:,0].numpy()

# r2 = r2_score(result, y_test)
# mae = mean_absolute_error(result, y_test)
# print("R-Squared: %.3f, MAE: %.2f" %(r2, mae))

# result_df = pd.DataFrame(data= {'actual': y_test, 'predicted': result})
# result_df.head()

R-Squared: 0.693, MAE: 3.36

   actual  predicted
0    22.6  23.573469
1    50.0  28.698576
2    23.0  26.437210
3     8.3  12.410052
4    21.2  22.768705

In [62]:
result1 = calculate_r2_mae(X_train,y_train)
result2 = calculate_r2_mae(X_test,y_test)

R-Squared: 0.828, MAE: 2.87
R-Squared: 0.693, MAE: 3.36

# Exercises:
- modify above NN model with different number of dense layers, hidden units, loss function, # of training epochs etc to identify a prediction model with better performance (i.e., lower MAE value and higher r2 value)